hidden.py
.idea/
fruits-360/
modules/__pycache__
venv/
examples/__pycache__
examples/.ipynb_checkpoints
examples/image_recognition/__pycache__
examples/image_recognition/classifier_nn
*.h5

unlabeled2017/
hymenoptera_data/
unlabeled2017.zip
*.pt
